*{
    box-sizing: border-box;
}
.content{
    background-color: #bcbcbc;
    width: 1000px;
    /*display: flex;*/
    margin: 0 auto;
    padding: 1px;
}
.card{
    width: 400px;
    height: 250px;
    margin: 100px auto 0;
    background-color: #96a0a0;
    border-radius: 20px;
    /*padding: 10px;*/
}
.grid{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 2fr);
    background-color: black;
}