@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap');

:root {
    --bg-card: black;
    --card-text-main: white;
    --card-text-label: #acacac;
    --border-color: gray;
}

* {
    box-sizing: border-box;
}

html, body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
    margin-top: 50px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.card {
    width: 400px;
    height: 250px;
    margin: 0 auto 5px auto;
    background-color: var(--bg-card);
    color: var(--card-text-main);
    border-radius: 20px;
    padding: 15px 30px;
}

.card__column {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

.pictures {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 70px;
}

.chip img {
    width: 70px;
}

.card-number__top {
    color: var(--card-text-label);
}

.card-number {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 2.3rem;
    font-family: 'Source Code Pro', monospace;
}


.card-owner {
    display: flex;
    justify-content: space-between;
}

.card-owner__top {
    color: var(--card-text-label);
    font-size: 0.8rem;
}

.card-owner__bottom {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 1px;
}

.form {
    width: 400px;
    height: 310px;
    margin: 20px auto 0;
}

.form__wrapper {

}

.inputs {
    display: flex;
    flex-direction: column;
}

.input__row {
    margin-bottom: 10px;
    display: flex;
}

.input__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0 5px;
}

.input__wrapper label {
    font-size: 0.8rem;
    margin-bottom: 3px;
}

.input__wrapper input {
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.input__wrapper select {
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.btn {
    background: var(--bg-card);
    color: var(--card-text-main);
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    margin-top: 5px;
}
